body {
  padding-top: 50px;
}

.fb-local-chat-container {
  margin-top: 50px;
}

.fb-local-chat-container .chat-footer {
  position: relative;
  z-index: 0;
}

.fb-local-chat-container .webview-container {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  bottom: 0;
  background: rgba(0,0,0,0.7);
}

.fb-local-chat-container .webview {
  position: absolute;
  width: 100%;
  bottom: 0;
  background: black;
}

.fb-local-chat-container .webview-compact {
  height: 50%;
}

.fb-local-chat-container .webview-tall {
  height: 75%;
}

.fb-local-chat-container .webview-full {
  height: 100%;
}

.fb-local-chat-container .webview-container iframe {
  width: 100%;
  height: 93%;
}

.fb-local-chat-container .webview-header {
  background: white;
  font-size: 20px;
  cursor: pointer;
  padding-left: 5px;
  height: 7%;
}

.fb-local-chat-container .chat-content-container {
  position: relative;
}

.fb-local-chat-container .messages-content {
  height: 450px;
  overflow-y: auto;
  padding: 15px;
}

.fb-local-chat-container .messages-content .message {
  margin-bottom: 10px;
  max-width: 70%;
  float: left;
}

.fb-local-chat-container .messages-content .message-bubble {
  background: #eceff1;
  color: black;
  padding: 10px 20px;
  border-radius: 30px;
  overflow-y: auto;
}

.fb-local-chat-container .messages-content .message-bubble.me {
  background: #0ebeff !important;
  color: white !important;
}

.fb-local-chat-container .messages-quick-reply {
  display: flex;
  justify-content: center;
  margin: 5px 0px 5px 0px;
  overflow: auto;
}

.fb-local-chat-container .messages-quick-reply .message-bubble {
  background: white;
  color: #3D98FD;
  padding: 5px 10px;
  border-radius: 30px;
  border-color: #3D98FD;
  border-style: solid;
  border-width: thin;
  margin: 0px 5px 0px 5px;
  white-space: nowrap;
}

.fb-local-chat-container .messages-content .message.me {
  float: right !important;
}

.fb-local-chat-container .messages-content .message img {
  max-width: 100%;
}

.fb-local-chat-container .messages-content .message .chat-button-list {
  text-align: center;
  margin: 0;
  margin-top: 5px;
}

.fb-local-chat-container .messages-content .message .chat-button-list .chat-button {
  text-align: center;
}

.fb-local-chat-container .messages-content .message .hscroll-wrapper {
  overflow-x: auto;
}

.fb-local-chat-container .messages-content .message .hscroll-element {
  float: left;
  margin-right: 10px;
}

.clear {
  clear: both;
}

.locale-dropdown hr {
  margin: 5px 0;
}

.locale-dropdown .dropdown-button {
  margin-left: 5px;
}
