body {
  padding-top: 50px;
}

.fb-local-chat-container {
  margin-top: 50px;
}

.fb-local-chat-container .chat-footer {

}

.fb-local-chat-container .messages-content {
  height: 350px;
  overflow-y: auto;
  padding: 15px;
}

.fb-local-chat-container .messages-content .message {
  margin-bottom: 10px;
  max-width: 70%;
  float: left;
}

.fb-local-chat-container .messages-content .message-bubble {
  background: #eceff1;
  color: black;
  padding: 10px 20px;
  border-radius: 30px;
}

.fb-local-chat-container .messages-content .message-bubble.me {
  background: #0ebeff !important;
  color: white !important;
}

.fb-local-chat-container .messages-quick-reply {
  display: flex;
  justify-content: center;
  margin: 5px 0px 5px 0px;
  overflow: auto;
}

.fb-local-chat-container .messages-quick-reply .message-bubble {
  background: white;
  color: #3D98FD;
  padding: 5px 10px;
  border-radius: 30px;
  border-color: #3D98FD;
  border-style: solid;
  border-width: thin;
  margin: 0px 5px 0px 5px;
  white-space: nowrap;
}

.fb-local-chat-container .messages-content .message.me {
  float: right !important;
}

.fb-local-chat-container .messages-content .message img {
  max-width: 100%;
}

.fb-local-chat-container .messages-content .message .chat-button-list {
  text-align: center;
  margin: 0;
  margin-top: 5px;
}

.fb-local-chat-container .messages-content .message .chat-button-list .chat-button {
  text-align: center;
}

.clear {
  clear: both;
}
